header .navbar ul li a {
  font-weight: 600;
}
.timer-details .newText {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  color: #000;
}
.text-blue {
  color: #437eeb !important;
  font-weight: 600;
}
.myPadding {
  padding: 20px 0 150px;
}
.title-box.text-left p {
  font-weight: 600;
}
.iq-list li span {
  font-weight: 600;
}
.iq-feture-bg {
  padding-top: 50px;
}
.iq-feture-bg .pr-lg-5 {
  padding-right: 5rem !important;
}
.title-box h2:first-of-type {
  margin-bottom: 0 !important;
}
.title-box h2 span {
  text-decoration: line-through;
}
.testimonial-style.owl-carousel .testimonial-name {
  display: block;
}
.testimonial-style .testimonial-info {
  margin-bottom: 20px;
}
.testimonial-style.owl-carousel .owl-item .testimonial-info img {
  margin-top: 20px;
  text-align: center;
  width: 250px;
  height: auto;
  margin-right: 0px;
  display: inline-block;
}
.testimonial-style.owl-carousel .iq-testimonial p {
  font-weight: 600;
  text-align: justify;
}
.testimonial-style.owl-carousel .iq-testimonial {
  padding: 45px 7px;
}
.iq-blog-box .blog-title a h4 {
  font-size: 1.2rem;
}
header .navbar-light .navbar-brand img.logo {
  width: 120px;
}
section {
  padding: 50px 0;
}
.iq-breadcrumb-one .breadcrumb-item.active {
  font-weight: 600;
}
.service-box img {
  width: 50px;
  height: 50px;
}
.solutions .service-detail h4 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.solutions .service-box {
  border: 0;
  box-shadow: 5px 8px 5px 1px #dedede;
  margin-bottom: 25px;
  min-height: 260px;
}
.numbers .numberBox h3 {
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 20px;
}
.numbers .numberBox p {
  color: #437eeb;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
.updates p {
  font-weight: 600;
}

header .navbar ul li:last-child {
  width: 140px;
  padding: 5px 0px;
  border-radius: 90px;
  color: #ffffff;
  background: #437eeb;
  margin-right: 35px;
}

header .navbar ul li:last-child a {
  font-weight: 100 !important;
  color: #fff;
  line-height: 0;
  padding: 15px 0px;
}

header .navbar ul li .sub-menu li:last-child {
  background: none;
  padding: 0;
}

header.menu-sticky .main-header .navbar ul li:last-child a {
  line-height: 0;
}

header .navbar ul li .sub-menu li:last-child a {
  line-height: 28px !important;
  font-weight: 600 !important;
}

header .navbar .sub-main .blue-btn.button {
  text-align: center;
  padding: 5px 10px;
  width: 135px;
}
.breadcrumb + p a {
  padding: 8px 15px;
  background: #437eeb;
  color: #fff;
  border-radius: 90px;
}

.sidebar-service-right input[type="checkbox"] {
  width: 30px;
  margin-right: 0;
  line-height: 2;
  height: 16px;
}
.sidebar-service-right .form-check-label {
  padding-left: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.mySidebar .widget_categories ul li span {
  border-radius: unset;
  float: none;
  color: #313e5b;
  background: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 20px;
  font-size: inherit;
}

.mySidebar .widget {
  box-shadow: 1px 3px 10px 6px #dedede;
  visibility: visible;
  animation-name: fadeInLeft;
}

.contact-box .service-detail p {
  margin-bottom: 0;
}
.img__description {
  padding: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(67, 126, 235, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.iq-team-img:hover .img__description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.member .iq-team .iq-team-img {
  z-index: 1;
}
.downloadReport {
  padding: 8px 15px;
  background: #437eeb;
  color: #fff;
  border-radius: 90px;
}
.floatingBanner.jumbotron.content2 {
  z-index: 999999;
  position: sticky;
  bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ef5356;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}
#back-to-top .top {
  bottom: 55px;
}
.blog-button {
  padding-bottom: 25px;
  border-bottom: 2px solid #dedede;
}
.iq-blog-box .iq-blog-detail {
  padding: 30px 30px 30px;
}
@media screen and (max-width: 1024px) {
  .img__description {
    line-height: 23px;
  }
  header .navbar-light .navbar-brand img.logo {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  .img__description {
    line-height: 23px;
  }
  .numbers .numberBox p {
    text-align: center;
  }
  header.style-one .navbar-light .navbar-toggler {
    top: 5px;
  }
  .timer-details .newText {
    font-size: 30px;
  }

  .iq-feture-bg .pr-lg-5 {
    padding-right: 0rem !important;
  }
  h4.custom_heading {
    font-size: 1.263em;
  }
  .title-box.text-center {
    margin-bottom: 20px;
  }
  footer.footer-one .footer-top {
    padding-top: 0;
  }
  .footer-logo img {
    width: 90px;
  }
  header .navbar ul li:last-child a {
    text-align: center;
  }
  header .navbar .sub-main .blue-btn.button {
    text-align: center;
    padding: 4px 6px;
    width: 110px;
  }
  header.menu-sticky .main-header .navbar ul li:last-child a {
    text-align: center;
  }
  .title-box h2:first-of-type {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .custom-tab-userbehavior .nav-item {
    width: 50%;
  }
}
